<h1><%= @task.title %></h1>
<p><%=@task.details %></p>
<input type="checkbox"><p>This task is not completed yet</p>
<%= link_to "Edit a task", edittask_path %>
<%= link_to "Back to list", tasks_path %>

